/.idea
/nbproject
/node_modules
/public/hot
/public/uploads
/public/storage
/storage/*.key
/vendor
/v8-compile-cache-0
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
/storage/pdf/
/public/pdf/
/public/ppt/
/public/js/app.js
/storage/app/public/ppt/*
/storage/app/public/pdf/*
/storage/app/public/uploads/*
.rest
/storage/logs/
/app/Tools/Modules/Price/salmonprice/
/vendor/
